name: Build and Deploy to External Repo

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm ci

      - name: Build App
        run: npm run build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: fisherman1234/point_allocator_pub # e.g., myuser/myuser.github.io
          publish_branch: gh-pages # Or the branch specified in Pages Repo settings
          publish_dir: ./dist # The directory containing your compiled site files
          # Optionally, set enable_jekyll: true if needed